@import url(https://fonts.googleapis.com/css?family=Abel);

body {
  margin-top: 50px;
}
*:visited {
  outline: none;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
  background-image: -o-linear-gradient(top,#5cb85c 0,#419641 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641));
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  border-color: #FFF;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
  float: left;
  margin-right: 0;
  margin-left: 15px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #FFF;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  text-shadow: none;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #CFCFCF;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-image: none;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bolder;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section .container .title, .form {
  text-align: center;
}
section .container .title {
  margin: 58px 0 70px 0;
}
section .container .title h1 {
  font-size: 50px;
  font-family: 'Abel', sans-serif;
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
section .container .form {
  margin: 0;
}
section .container .form p {
  font-size: 18px;
}
section .container .form form input#temperature {
  padding: 10px;
  width: 60px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

section .container .form form input#tempsubmit {
  margin-top: 150px;
}

#tempsubmit {
  margin-top: 150px;
}

/* -- ENDE INDEX -- */
/* -- START ÜBERSICHT -- */

.title-detail {
  text-align: center;
  margin: 75px 0 25px 0;
}
.title-detail h1 {
	font-family: 'Abel', sans-serif;
}

.ubersicht {
  margin-top: 10px;
  width: 100%;
}
.ubersicht th {
  text-align: center;
  padding-bottom: 15px;
  background-color: #FFF;
}
.ubersicht td {
  text-align: center;
  padding: 5px 0;
}
.ubersicht tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
.ubersicht .button .btn {
  float: right;
  margin-right: 2px;
  width: 100%
}

/* -- ENDE ÜBERSICHT -- */
/* -- START GEOLOCATION -- */

iframe {
  width: 100%;
  height: 300px;
}
