body {
  margin-top: 50px;
}
*:visited {
  outline: none;
}
.ink {
	display: block; position: absolute;
	background: hsl(180, 40%, 80%);
	border-radius: 100%;
	transform: scale(0);
}
.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
100% {opacity: 0; transform: scale(2.5);}
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#33AC71 0,#338871 100%);
  background-image: -o-linear-gradient(top,#33AC71 0,#338871 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#33AC71),to(#338871));
  background-image: linear-gradient(to bottom,#33AC71 0,#338871 100%);
  border-color: #FFF;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
  float: left;
  margin-right: 0;
  margin-left: 15px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #FFF;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  text-shadow: none;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-image: none;
  background-color: rgba(51, 172, 113, 0.5);
  font-weight: bolder;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section .container .title, .form {
  text-align: center;
}
section .container .title {
  margin: 75px 0 100px 0;
}
section .container .title h1 {
  font-size: 50px;
}

section .container .form {
  margin: 0;
}
section .container .form p {
  font-size: 18px;
}
section .container .form form input#temperature {
  padding: 10px;
  width: 60px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

section .container .form form input#tempsubmit {
  margin-top: 150px;
}
